
    <div class="container-fluid pb-2">
        <div class=" col-md-8">
            <partial name="./_PartialViewDetails.cshtml" />

            <div>               
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" role="button">
                    <i class="fa fa-edit"></i>
                    Editar
                </a>
                <a asp-action="Index" class="btn btn-default" role="button">
                    <i class="fa fa-reply"></i>
                    Voltar
                </a>
            </div>


        </div>
    </div>